<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@2.5.21/dist/vue.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="value">
        <button @click="list.push(value);value='';">add</button>
        <ul>
            <li v-for="(item,index) in list">{{item}}<button @click="list.splice(index,1)">X</button></li>
        </ul>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                list: [],
                value: ''
            }
        })
    </script>
</body>
</html>